<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Creepster&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/app.css" />
    <title>Monstr - Evil Profile</title>
  </head>
  <body>
    <h1>Show Monster Info - <%= user.fname %> <%= user.lname %></h1>
    <br />
    <h2><%= user.description %></h2>
    <img class="profile" src="<%=user.profilePic %>" /><br>
    <a href="/users">Back to Main</a>
  </body>
</html>
