<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monstr - Monster Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Creepster&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/app.css" />
  </head>

  <body>
    <h1>Edit Post</h1>
    <div class="actions">
      <a class="buttonize" href="/auth/signup">Sign Up</a>
      <a class="buttonize" href="/auth/login">Log In</a>
      <a class="buttonize" href="/posts">News Feed</a>
      <a class="buttonize" href="/posts/new">New Post</a>
      <a class="buttonize" href="/users">See All Users</a>
    </div>
    <form action="/posts/<%=posts.id%>?_method=PUT" method="POST">
      What's Up?
      <input
        type="text"
        name="textContent"
        value="<%=posts.textContent%>"
      /><br />
      <br />
      Picture (optional):
      <input type="url" name="picture" value="<%= posts.picture %>" /><br />
      <br />
      <input type="submit" class="buttonize" value="Save Edit" />
    </form>
    <form action="/posts/<%= posts.id %>?_method=DELETE" method="POST">
      <input class="buttonize" type="submit" value="Delete Post" />
    </form>
    <a class="buttonize" href="/posts">Back to News Feed</a>
  </body>
</html>
