<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Monstr - New Post</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Creepster&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/app.css" />
  </head>

  <body>
    <h1>Make a Monstr Post</h1>
    <div class="actions">
      <a class="buttonize" href="/users/signup">Sign Up</a>
      <a class="buttonize" href="/users/login">Log In</a>
      <a class="buttonize" href="/posts">News Feed</a>
      <a class="buttonize" href="/users">See All Users</a>
    </div>

    <form action="/posts" method="POST">
      What's Up?
      <input type="text" name="textContent" /><br />
      <br />
      Picture (optional):
      <input type="url" name="picture" /><br />
      <br />
      User ID:
      <input type="text" name="userId" /><br /><br />
      <input type="submit" class="buttonize" value="Post" />
    </form>
  </body>
</html>
